<script type="text/javascript">
var SCOPE = {
	'table' : 'Information',
	'delete_url' : '/admin/information/delete',
	'jump_url' : '/admin/information',
	'admin_create_url' : '/admin/information/add',
	'my_hidden_url' : '/admin/information/hidden',
	'my_forbidden_url' : '/admin/information/forbidden',
	'delete_many_url' : '/admin/information/delete_many',
}
	
</script>

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"> <i class="fa fa-laptop"></i>
			通知管理
		</h3>
		<ol class="breadcrumb">
			<li> <i class="fa fa-home"></i>
				<a href="/admin/information/index">首页</a>
			</li>
			<li>
				<i class="fa fa-laptop"></i>
				通知管理
			</li>
		</ol>
	</div>

</div>

<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-12">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">控制面板</h3>
					
				</div>
				<div class="panel-body">
				<div class="col-sm-12">
					 <!-- active -->
					<button  class="btn btn-warning" id="my_check_all">
						<label for="check_all">
							<input type="checkbox" id="check_all_box"></label>
						全 选
					</button>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" id="my_admin_information" class="btn btn-primary" >管理员发布通知</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-success" id="my_hidden_btn" >不显示该通知</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" id="my_forbidden_btn">禁用该账号</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-danger" id="my_delete_btn">删除通知</button>
					&nbsp;&nbsp;
					<div class="btn-group dropup">
						<button type="button" class="btn btn-info">筛选</button>
						<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu" id="my_select_condition">
							<li>
								<a href="/admin/information/index/select/createby">管理员发布</a>
							</li>
							<li class="divider"></li>
							<li selected>
								<a href="/admin/information/index/select/create_time">今日新增</a>
							</li>
							<li>
								<a href="/admin/information/index/select/status">不显示的通知</a>
							</li>
							<li>
								<a href="/admin/information/index/select/user">全部</a>
							</li>
						</ul>
					</div>
					&nbsp;&nbsp;
						
						每页显示<input type="text" id="my_pagesize" style="width:30px;text-align:center">条记录


				</div>
				<div class="col-sm-12">
					{$page}
				</div>
					<!-- /btn-group -->
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
		
		<!--/col-->
		<div class="col-sm-12">
			{volist name="Information" id="info" empty="还没有通知..."}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<label for="content_panel{$i}" style="cursor:pointer">
							<input type="checkbox" name="{$info.id}" id="content_panel{$i}">
							#{$i}
						</label>
						{$info.user_id|getUserStatus}
							&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;

						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-warning">I D</span>
						{$info.user_id=='1000'?'管理员':$info.user_id}
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-warning">发布时间：</span>
						{$info.create_time|getTempTime}
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-warning">通知人数：</span>
						{$info.receive_user_num}
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-warning">已读人数：</span>
						{$info.read_user_num}
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-success btn-sm" id="my_hidden_btn_single" name="{$info.id}" value="1" {if condition="$info.status == 2"}disabled="disabled"{/if}>不显示该通知</button>
						<button type="button" class="btn btn-default btn-sm"  id="my_forbidden_btn_single" name="{$info.id}" value="1">禁用该账号</button>
						<button type="button" class="btn btn-danger btn-sm" id="my_delete_btn_single" name="{$info.id}" value="1" >删除通知</button>

					</h3>
				</div>
				<div class="panel-body">
					{$info.content}
				</div>
				<!-- <div class="panel-footer">Panel footer</div>
			-->
		</div>
		{/volist}
	</div>

</div>
<!--/col-->
</div>
</div>
<!--/col-->

</div>
<!--/row-->