<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ip查询</title>
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<div class="container">
		<div class="input-button">
			<input autofocus="true" type="text" id="my-input" class="my-input" placeholder="查询IP所在地">
			<button id="my-button" class="my-button">查询</button>
		</div>
		<div class="result">IP所在地：
			<span id="result-content" class="result-content"></span>
		</div>
	</div>

	
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>