
body{
	font-family: "微软雅黑";
	font-size:16px;
}
.main{
	margin-top:50px;
	h1{
		font-size:36px;
		font-weight:bold;
		margin:0 0 0 10px;
	}
	span{
		float:right;
		margin:0 20px 30px;
	}
	article{
		clear:both;
		padding:0 20px;
		line-height:1.8em;
		letter-spacing: 1px;
		margin-bottom:50px;
		img{
			display:block;
			margin:30px auto;
			width:100%;
			//可以添加翘边阴影
		}
	}
}
.main__list__others{
	margin-top:40px;
	&:hover{
		color:white;
		// background-color: #E35F07;
		// border-radius: 45px;
		// letter-spacing: 5px;
		box-shadow: 0 50px 5px #E35F07 inset;
	}
	.ficon{
		font-size:1.4em;
	}
	&,.ficon{
		vertical-align:top;
	}
}
footer{
	margin-top:250px;
}