<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fight2Escape-Article</title>
	<link href="/static/handsome/img/f2e.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="/static/handsome/css/home.css">
	<link rel="stylesheet" href="/static/handsome/css/article.css">
	<link rel="stylesheet" href="/static/handsome/css/raphaelicons.css">
	<link rel="stylesheet" href="/static/handsome/css/mobile.css">
	
</head>
<body>
	<div class="wrap">
		<section class="sidebar">
			<div class="sidebar__navbar">
				<a href="/index/index/home" class="navbar__a"><span class="ficon">S</span></a>
				<a href="#" class="navbar__a  active"><span class="ficon">U</span></a>
				<a href="/index/index/about" class="navbar__a"><span class="ficon">L</span></a>
			</div>
			<div class="sidebar__setting">
				<!-- <a href="#" class="setting__a"><span class="ficon">3</span></a> -->
				<!-- <a href="#" class="setting__a"><span class="ficon">a</span></a> -->
				<a href="/index/index/index" class="setting__a"><span class="ficon">v</span></a>
			</div>
		</section>
		<section class="detail">
	
			<section class="showpic showpic__article">
				<div class="showpic__summary">
					<h2>Share</h2>
					<h3>出来混，总是要还的</h3>
					<p>哦不，分享是互联网最崇高的精神
					</p>
					<button><b class="ficon">Ã</b>up</button>

				</div>
			</section>

			
			<section class="main">
				<h1><b class="ficon">È</b>	{$res.title}</h1>
				<span class="span__title"><b class="ficon">4</b>	{$res.update_time|getTime}</span>
				<article>
					{$res.content}
				</article>
				<button class="main__list__more main__list__others" id="my_back_btn">Others <b class="ficon">Ì</b></button>
				<footer>
					<b>&copy;</b>badwolfs.cn  powerby myself
				</footer>
			</section>

		</section>
	</div>


	<script src="/static/handsome/js/common.js"></script>
</body>
</html>	