<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width" initial-scale="1"/>
	<title>Fight2Escape-Blog</title>
	<link href="/static/handsome/img/f2e.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="/static/handsome/css/home.css">
	<link rel="stylesheet" href="/static/handsome/css/raphaelicons.css">
	<link rel="stylesheet" href="/static/handsome/css/mobile.css">
</head>
<body>
	<div class="wrap">
		<section class="sidebar">
			<div class="sidebar__navbar">
				<a href="/index/index/home" class="navbar__a active"><span class="ficon">S</span></a>
				<a href="#" class="navbar__a"><span class="ficon">U</span></a>
				<a href="/index/index/about" class="navbar__a"><span class="ficon">L</span></a>
			</div>
			<div class="sidebar__setting">
				<!-- <a href="#" class="setting__a"><span class="ficon">3</span></a> -->
				<!-- <a href="#" class="setting__a"><span class="ficon">a</span></a> -->
				<a href="/index/index/index" class="setting__a"><span class="ficon">v</span></a>
			</div>
		</section>
		<section class="detail">
	
			<section class="showpic showpic__home">
				<div class="showpic__summary">
					<h2>Article</h2>
					<h3>// 深度模仿</h3>
					<p>快速成长为你想要的那个自己</p>
					<button><b class="ficon">Ã</b>up</button>

				</div>
			</section>

			
			<section class="main">
				<header>
				<span><n class="ficon">Æ</n>Coding</span>
				<!-- <input type="text" class="main__search" placeholder="search"> -->
				</header>
				<!-- <section class="main__tags">
					<a href="#" class="main__tags__a active">热门</a>

				</section> -->
				<section class="main__list">
				{volist name="article" id="atc" empty=""}
					<div class="main__list__one">
						<div class="list__one__left">
							
							<h3><a href="/index/index/article/get/{$atc.id}"><b class="ficon">\</b>{$atc.title}</a></h3>
							<p>{$atc.summary}</p>
							<p class="list__one__left__time"><b class="ficon">4</b>{$atc.update_time|getTimeSimple}</p>
							<p>
							<!-- <a href="#">热门</a>
							<a href="#">热门</a>
							<a href="#">热门</a> -->
							</p>
						</div>
						<div class="list__one__right">
							<a href="/index/index/article/get/{$atc.id}"><img src="{$atc.thumb}" alt=""></a>
						</div>
					</div>
				{/volist}
					<!-- <button class="main__list__more">More <b class="ficon">:</b></button> -->
				</section>
			</section>
				<footer>
					<b>&copy;</b>badwolfs.cn  powerby myself
				</footer>

		</section>
	</div>
	
	<script src="/static/handsome/js/common.js"></script>

</body>
</html>