<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width" initial-scale="1"/>
	<title>Fight2Escape</title>
	<link href="/static/handsome/img/f2e.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="/static/handsome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/handsome/css/index.css">
	<!-- <link rel="stylesheet" href="/static/handsome/css/mobile.css"> -->
</head>
<body>
<div class="wrap">
	

	<h1 class="blog__name">ESCAPE</h1>
	<nav class="blog__nav">
		<ul>
			<!-- <a href="/static/handsome/#"  id="nav1">
				<li class="mynav"><i class="fa fa-envira"></i></li>home
			</a> -->
			<a href="#"  id="nav2">
				<li class="mynav"><i class="fa fa-google"></i></li>Email
			</a>
			<a href="#"  id="nav3">
				<li class="mynav"><i class="fa fa-github"></i></li>Github
			</a>
			<a href="/index/index/about"  id="nav4">
				<li class="mynav"><i class="fa fa-at"></i></li>About
			</a>
			<a href="/index/index/home"  id="nav5">
				<li class="mynav"><i class="fa fa-beer"></i></li>Blog
			</a>
		</ul>
	</nav>
</div>
</body>
</html>