<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width" initial-scale="1"/>
	<title>Fight2Escape</title>
	<link href="/static/handsome/img/f2e.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="/static/handsome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/handsome/css/index.css">
	<link rel="stylesheet" href="/static/handsome/css/mobile.css">
</head>
<body>
<div class="wrap_bg">
	

	<h1 class="blog__name">ESCAPE</h1>
	<nav class="blog__nav">
		<ul>
			<!-- <a href="/static/handsome/#"  id="nav1">
				<li class="mynav"><i class="fa fa-envira"></i></li>home
			</a> -->
			<a href="mailto:fight2escape@gmail.com"  id="nav2">
				<li class="mynav"><i class="fa fa-envelope"></i></li>Email
			</a>
			<a href="#"  id="nav3">
				<li class="mynav"><i class="fa fa-github"></i></li>Github
			</a>
			<a href="/index/index/about"  id="nav4">
				<li class="mynav"><i class="fa fa-bolt"></i></li>About
			</a>
			<a href="/index/index/home"  id="nav5">
				<li class="mynav"><i class="fa fa-beer"></i></li>Blog
			</a>
		</ul>
	</nav>
</div>
<div style="position:absolute;right:0;top:0;opacity:0;filter:alpha(opacity=0);">
	<a href="http://webscan.360.cn/index/checkwebsite/url/blog.badwolfs.cn"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/95dc43e1820c93b1387b031efafa6d41"/></a>
</div>

	<script src="/static/handsome/js/common.js"></script>

</body>
</html>