	

	.about__article{
		margin-top:400px;
	}
	.mycard{
		/*position:relative;*/
		text-decoration:none;
		border-radius:50%;
		margin-left:25%;
		margin-top:50px;
		display:block;
	}
	.showimg,.mask,.border{
		width:300px;
		height:300px;
		position:absolute;
		border-radius:50%;
	}
	.showimg{
		background-image:url(../img/blackhorse.jpg);
		background-size:cover;
		background-position:50% 50%;
		opacity:0;
		filter:alpha(opacity=0);
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.mask{
		text-align:center;
		background-color: rgba(0,0,0,0);
		transition:all .5s ease-in .1s;

	}
	.info{
		color:rgba(255,255,255,0);
		font-size:24px;
		margin-top:50%;
		transform:translateY(-50%);
		transition:all .5s ease-in .1s;

	}
	@keyframes border__show{
		0%{
			border-width:0px;
			box-shadow: 0 0 35px rgba(0,0,0,0.3);
		}
		70%{
			border-width:10px;
			box-shadow: 0 0 35px rgba(0,0,0,0);
			transform:rotate(2deg);
		}
		100%{
			border-width:9px;
			box-shadow: 0 0 60px rgba(0,0,0,0.3);
		}
	}
	.border{
		border:0px solid #072256;
		border-left-color:#e07514;
		border-top-color:#e07513;
		box-shadow: 0 0 35px rgba(0,0,0,0.3);
		box-sizing:border-box;
		transition:all .5s ease-in .1s;
		animation: border__show .7s ease 1.5s infinite;
		animation-direction: alternate;
	}
	.mycard:hover .mask{
		background-color: rgba(0,0,0,0.5);
	}
	.mycard:hover .showimg{
		opacity:1;
		filter:alpha(opacity=100);
	}
	.mycard:hover .info{
		color:rgba(255,255,255,1);
	}
	.mycard:hover .border{
		animation:none;
		border-width:10px;
		transform:rotate(180deg);
	}