
<script>
var CONFIG  = {
	'jump_url'	:'/enjoyusf/article/add',
}
</script>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Article</li>
			</ol>
		</div><!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Article</h1>
			</div>
		</div><!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading"><button class="btn btn-primary" id="my_jump_btn">New Article</button></div>
					<div class="panel-body">
						<table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>
						        <!-- <th data-field="state" data-checkbox="true" >Article ID</th> -->
						        <th data-field="id" data-sortable="true" data-align="center">ID</th>
						        <th data-field="title"  data-sortable="true" data-align="center">Title</th>
						        <th data-field="thumb" data-sortable="true" data-align="center">Thumb</th>
						        <th data-field="create_time" data-sortable="true" data-align="center">Create Time</th>
						        <th data-field="update_time" data-sortable="true" data-align="center">Update Time</th>
						    </tr>
						    </thead>
						    {volist name="article" id="atc" empty="一篇都木有……"}
						    <tr>
						    	<!-- <td><input type="checkbox"></td> -->
						    	<td>#{$atc.id}___{$atc.user_id}</td>
						    	<td><a href="#">{$atc.title}</a></td>
						    	<td><img src="{$atc.thumb}" alt="" style="width:50px;height:50px"></td>
						    	<td>{$atc.create_time|getTime}</td>
						    	<td>{$atc.update_time|getTime}</td>
						    </tr>
						    {/volist}
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->



